@import "./defaults/css-reset";
@import "./defaults/colors";

body{
    font-family: "Roboto", sans-serif;

}

section{
    height: 320px;
}

.page-spacing{
    padding: 0px 15%;
}
.page-btn{
    text-decoration: none;
    font-size: .8em;
    font-weight: 500;
    color: #fff;
    background-color: $btn-color;
    border-radius: 5px;
    padding: 5px 22px;
}

header{
    background-color: $primary-color;
    color: #fff;
    nav{
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
        #header-logo{
            font-size: 1.2em;
            font-weight: 600;
            text-decoration: none;
            color: #fff;
        }
        #navbar-links{
            display: flex;
            justify-content: space-between;
            width: 30%;
            .nav-link{
                text-decoration: none;
                color: #ededed;
                font-weight: 300;
                font-size: .8em;
            }
        }
    }
    #header-content{
        display: flex;
        justify-content: space-between;
        height: 50%;
        padding-bottom: 100px;
        #page-heading{
            width: 50%;
            h1{
                font-size: 2em;
                font-weight: 700;
                width: 60%;
                line-height: 1.1em;
            }
            p{
                color: rgba(255, 255, 255, 0.786);
                font-size: .85em;
                font-weight: 300;
                width: 80%;
                margin-bottom: 15px;
            }
        }
        #header-img{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #6d747d;
            font-size: .8em;
            width: 35%;
            height: 150px;
        }
    }
}

#randominfo-section{
    h2{
        text-align: center;
        font-size: 1.7em;
        font-weight: 700;
        margin: 40px 0px;
    }
    #box-wrapper{
        padding: 0px 20%;
        display: flex;
        justify-content: center;
        gap: 30px;
        .box-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                margin-top: 5px;
                color: rgb(87, 87, 87);
                text-align: center;
                font-size: .8em;
                font-weight: 300;
                width: 95%;
            }
            .small-box{
                width: 120px;
                height: 120px;
                border: 3px $btn-color solid;
                border-radius: 12px;
            }
        }
    }
}

#quote-section{
    padding: 70px 0px;
    padding-bottom: 10px;
    height: 200px;
    background-color: #e5e7eb;
    #quote-block{
        display: flex;
        flex-direction: column;
        margin: 0px 25%;
        #main-quote{
            font-size: 1.5em;
            font-weight: 300;
            margin-bottom: 20px;
            font-style: italic;
            line-height: 1.3em;
            height: 50%;
        }
        #quote-author{
            font-size: 1.1em;
            font-weight: 500;
            align-self: flex-end;
        }
    }
}

#cta-section{
    display: flex;
    justify-content: center;
    align-items: center;
    #cta-block{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $btn-color;
        width: 100%;
        height: 40%;
        border-radius: 12px;
        #cta-main-content{
            color: #fff;
            h3{
                font-weight: 500;
                font-size: 1.2em;
                padding-bottom: 5px;
            }
            #cta-subtext{
                font-weight: 200;
                font-size: .8em;
            }
        }
        #cta-btn{
            border: 1px white solid;
        }
    }
}

footer{
    height: 60px;
    background-color: $primary-color;
    color: #fff;
    text-align: center;
    p{
        padding: 30px 0px;
        font-size: .8em;
        font-weight: 300;
    }
}